<table>
    <tr>
        <th>ClassId</th>
        <th>Dept</th>
        <th>Num</th>
        <th>Area</th>
        <th>Title</th>
    </tr>
    {% if course_results|length != 0%}
        {%for line in course_results%}
            <tr>
                <td><a href="/classresults.html">{{line.getarea()}}</a></td>
                <td>{{line.getdept()}}</td>
                <td>{{line.getnum()}}</td>>
                <td>{{line.getarea()}}</td>
                <td>{{line.gettitle()}}</td>
            </tr>
        {%endfor%}
    {%endif%}
</table>